/*formattazione*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: skyblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 40%;
    height: 100px;
}

/*richiamo tag  img da header*/
header img{
    height: 50px;
    margin-top: 50px;
    margin-left: 10px;
}